header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
  display: block;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 20 px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
	margin: 0 5px;
}
.header-right span {
  margin-right: 5px;
}
.contact-icon a {
  margin-right: 20px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.logo {
  color: white;
}

<!-- RESPONSIVE -->
<!-- UNTUK SMARTPHONE MAX 670PX-->

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block !important;
  }
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Montserrat';
}

a {
  text-decoration: none;
}
li{
    list-style: none;
    margin-bottom: auto;
}
.clear {
  clear: left;
}

/* Stylesheet content */

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color: #74b9ff;
  text-align: center;
  color: white;
  background-image: url(https://i.imgur.com/ytDwgsU.jpg);
  text-shadow: 3px 1px black;
  backgound-repeat: no-repeat;
  background-size: cover;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 8px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.product-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dfe6e9;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: black;
}

.heading h2 {
  font-weight: bold;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  flex: auto;
  margin: 0 auto;
  width: 25%;
  flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.img-product {
  position: relative;
}

.img-product img {
  width: 100%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: black;
  text-align: center;
}

.header-card {
  margin: 10px;
}

/* Stylesheet buttons harya */

.btn-content {
	width: 150px;
	height: 30%;
	padding: 5px 20px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 5px;
	margin-bottom: 10px;
}
.product-buttons a {
  width: 150px;
  height: 30%;
  text-align:center;
  vertical-align: middle;
  font-size: 100%
}
.btn-fav:hover span {
	color: red
}
.btn-fav span{
	margin-right: 5px;
}
.btn-fav {
	background-color:pink;
	text-shadow: 1px 1px 1px black;
	box-shadow: 0px 2px #ffaaaa;
}
.btn-fav:active {
	position: relative;
	top: 2px;
	box-shadow: none;
}
.btn-cart span{
	margin-right: 5px;
}
.btn-cart {
	background-color: green;
	text-shadow: 1px 1px 1px black;
	box-shadow: 0px 2px #106b21;
}
.btn-cart:hover span{
	transform: translateX(3px);
	cursor: pointer;
}
.btn-cart:active {
	position: relative;
	top: 2px;
	box-shadow: none;
}
/* Stylesheet Footer */
footer{
	height:350px;
}
.btn-footer {
    padding: 0 10px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  h4{
    color: black;
  }

  .btn:hover {
    opacity: 1;
    cursor: pointer;
  }
.info h4{
    padding-left: 40px;

}
.container{
    max-width: 1170px;
    padding: 0 15px auto 15px;
    width: 100%;
    margin: 20px auto;
}

.top-footer-wrapper {
    text-align: center;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.09);
  }
  .email-input{
      float: left;
      margin: 0 20px;
  }
  .label{
      float: left;
      margin: 0 30px;
  }
  .txt-email{
      float: left;
      margin: 0 5px;
  }
  .footer-link{
      float: center;
      margin: 0 22px;
  }
  .footer-link a{
      text-align: right;
      margin-right: 20px;
      font-size: medium;
      font-style: oblique;
  }
  .border-wrapper{
      	padding: 0 5% 80px 5%;
	margin-bottom: 30px;

  }
  .info{
      float: left;
      width: 30%;
	  tex-align:left;
  }
  .info a {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
	  text-align:left;
  }
.info ul{
	padding-left:40;
}
.info li{
	text-align:left;
}
  .submit{
      background-color:black;
      color: white;
      margin-top: 2px;
      padding:2px 10px;
  }
  .txt-email{
      margin: 0 20px;
      text-align: center;
      width: 300px;
      font-size: 15px;
  }

/* ************************ BAGIAN TENGAH/BAWAH *********************************************** */

.middle-wrapper {
    padding: 50px 0px;
    background-color: rgb(245, 245, 245);
    margin: 50px 0;
}

.left-middle {
    float: left;
    width: 40%;
    padding: 0 30px;
}

.left-middle h2 {
    font-size: 20px;
}

.left-middle h1 {
    font-size: 50px;
}

.left-middle p {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}

.picture-middle {
    float: right;
    margin-right: 50px;
}

.clear {
    clear: left;
}

.abtn {
    border: 1px black solid;
    color: black;
    padding: 17px;
    display: inline-block;
}

.articles {
    display: flex;
    padding: 10px;
}

.article {
    flex: auto;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px;
    height: 600px;
}

.article h3 {
    height: 40px;
}

.article img {
    width: 300px;
    height: 450px;
    padding: 10px;
}

.bottom-wrapper {
    background-color: rgb(220, 220, 220);
    padding: 50px 0;
}

.bottom-wrapper .container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-link {
    width: 40%;
    min-width: 200px;
    flex: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.abtn-container {
    flex: auto;
    padding: 50px 20px 0 20px;
}

.social-media {
    flex: auto;
    padding: 0 20px;
}
