* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}
li{
    list-style: none;
    margin-bottom: auto;
}
.clear {
  clear: left;
}
.btn {
    padding: 0 10px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  h4{
    color: black;
  }
  
  .btn:hover {
    opacity: 1;
  }
.info h4{
    padding-left: 40px;
    
}
.container{
    max-width: 1170px;
    padding: 0 15px auto 15px;
    width: 100%;
    margin: 20px auto;
}

.top-footer-wrapper {
    text-align: center;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.09);
  }
  .email-input{
      float: left;
      margin: 0 20px;
  }
  .label{
      float: left;
      margin: 0 30px;
  }
  .txt-email{
      float: left;
      margin: 0 5px;
  }
  .footer-link{
      float: center;
      margin: 0 22px;
  }
  .footer-link a{
      text-align: right;
      margin-right: 20px;
      font-size: medium;
      font-style: oblique;
    color:black;
  }
  .border-wrapper{
      padding: 0 5% 80px 5%;

  }
  .info{
      float: left;
      width: 30%;
  }
  .info a {
    width: 80%;
    color: black;
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
  }
  .submit{
      background-color:black;
      color: white;
      margin-top: 2px;
      padding:2px 10px;
  }
  .txt-email{
      margin: 0 20px;
      text-align: center;
      width: 300px;
      font-size: 15px;
  }

/* ************************ BAGIAN TENGAH/BAWAH *********************************************** */

.middle-wrapper {
    padding: 50px 0px;
    background-color: rgb(245, 245, 245);
    margin: 50px 0;
}

.left-middle {
    float: left;
    width: 40%;
    padding: 0 30px;
}

.left-middle h2 {
    font-size: 20px;
}

.left-middle h1 {
    font-size: 50px;
}

.left-middle p {
    font-size: 16px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
}

.picture-middle {
    float: right;
    margin-right: 50px;
}

.clear {
    clear: left;
}

.abtn {
    border: 1px black solid;
    color: black;
    padding: 17px;
    display: inline-block;
}

.articles {
    display: flex;
    padding: 10px;
}

.article {
    flex: auto;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px;
    height: 600px;
}

.article h3 {
    height: 40px;
}

.article img {
    width: 300px;
    height: 450px;
    padding: 10px;
}

.bottom-wrapper {
    background-color: rgb(220, 220, 220);
    padding: 50px 0;
}

.bottom-wrapper .container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-link {
    width: 40%;
    min-width: 300px;
    flex: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.abtn-container {
    flex: auto;
    padding: 50px 20px 0 20px;
}

.social-media {
    flex: auto;
    padding: 0 20px;
}
